@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-white font-sans antialiased;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px currentColor;
    text-stroke: 1px currentColor;
  }
}
